<!-- SPDX-License-Identifier: BSD-3-Clause -->
<!DOCTYPE html>
<html>
<head>
  <title>{{.Name}} | Your public IP address (v4/v6)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script type="text/javascript" src="/static/js/showAddress.js"></script>
</head>
<body>
  <article class="center">
    <div id="v6">&#9889; ... detecting IPv6 ...</div>
    <div id="v4">&#9889; ... detecting IPv4 ...</div>
    {{if .Header}}
    <hr>
    <button id="headersButton" class="button">Client Headers</button>
    <table id="headersTable"><thead><tr><th>Key</th><th>Value</th></tr></thead>
    <tbody>{{range .Headers}}<tr><td>{{.Key}}:</td><td>{{.Value}}</td></tr>{{end}}</tbody></table>
    {{end}}
    <div class="usage">
      <hr>IPv4 cli example: <bold>$ curl -4 https://{{.Name}}</bold><br />IPv6 cli example: <bold>$ curl -6 https://{{.Name}}</bold>
    </div>
  </article>
  {{if .Footer}}
  <footer>
    <div class="disclaimer">
      <p class="valign">{{.Disclaimer}}</p>
    </div>
  </footer>
  {{end}}
  <script async type="text/javascript" src="/js/run.js"></script>
</body>
</html>
