/* SPDX-License-Identifier: BSD-3-Clause */
@font-face {
  font-family: 'Questrial-Regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  src: local('Questrial-Regular'), url('/static/font/Questrial-Regular.ttf')  format('truetype');
}
html,body {
  font-size: 1.4em;
  font-family: 'Questrial-Regular';
}
@media (max-width: 950px) {
  html,body {
    font-size: 1.0em;
    font-family: 'Questrial-Regular';
  }
}
.center {
  text-align: center;
}
.works:before {
  display: inline;
  color: green;
  font-weight: normal;
  content:"✔";
}
.fails:before {
  display: inline;
  color: red;
  font-weight: normal;
  content:"✘";
}
bold {
  font-weight: bold;
}
@media (min-width: 950px) {
  hr {
    margin: 10px;
    border: none;
    border-top: 2px dotted #aaa;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 950px) {
  hr {
    margin: 10px;
    border: none;
    border-top: 2px dotted #ddd;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
.usage {
  display:block;
  font-size: 14px;
  font-style: none;
  text-align: center;
  margin: 10px;
}
.disclaimer {
  position: absolute; right: 0; bottom: 0; left: 0;
  padding: 2px;
  text-align: center;
  border-top: 2px dotted black;
}
.disclaimer p {
  font-weight: lighter;
  font-size: x-small;
}
a:link{color:#000; text-decoration: none; }
a:visited {color:#F00; text-decoration: none; }
a:hover {color:#F00; text-decoration: none; }
a:active  {color:#000; text-decoration: none; }
.valign{
    vertical-align:middle;
}

@media (max-width: 950px) {
  table {
    display:none;
    table-layout: fixed;
    width:100%;

    text-align: center;
    word-break: break-word;
    font-size: 14px;
  }
}

table {
  display:none;
  table-layout: fixed;
  width:100%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  word-break: break-word;
  font-size:14px;
}

h4 {
  font-weight:normal;
  margin: 10px 0 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
